/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
* Modified Media Queries to be mobile first. - Ian Rose
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 782px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 783px) {}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 975px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 783px) and (max-width: 975px) {}

/* Tablet and to Desktop */
@media only screen and (min-width: 783px) {}

/* Standard 960 and up (devices and browsers) */
@media only screen and (min-width: 975px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/





/*******************************/
/*     IMPORTED FROM ab.scss   */
/*******************************/




/****************************/
/* HEADER BRAND & MENU-NAV  */
/****************************/
.brand-block {
    position: fixed;
    z-index: 999;
    border-width: 0 0 1px;
    width: 260px;
}
.brand-text {
    background-color:rgb(0,29,89);
    font-family:Amethysta;
    font-size:19px;
    text-decoration:underline;
    color:rgb(255,255,255);
    text-align:left;
    padding: 2px 3px;

}
.brand-subtext{
    background-color:rgba(0,29,89,0.64);
    width:229px;
    height:21px;
    padding: 1px, 4px, 1px, 4px;
    border-color:rgb(0,0,0);
    border-width:1px;
    -moz-border-radius:13px ;
    -webkit-border-radius:13px ;
    border-radius:13px ;
    border-style:solid;

    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:rgb(255,255,255);
    text-align:center;

}

.menu-plate {
    position: fixed;
    z-index: 999;
    display: block;
    width:79px;
    height: 31px;
    background-color:rgb(68,68,68);
    border-color:rgb(34,30,31);
    border-width:1px;
    border-style:solid;

}
.menu-btn {
    width:77px;
    height: 29px;
    background-color:rgb(0,0,0);
    border-color:rgb(34,30,31);
    border-width:3px;
    border-style:solid;
    position: relative;
    top:1px;
    right:1px;
    float: right;
    padding: 0;
    cursor: pointer;

}

.menu-btn-text{
    color: lightgray;
    font-family:Amethysta;
    font-size:16px;
    font-weight: normal;
    text-align: left;
    margin-left: 4px;
    float:left;
}


.fa-plus-square {
    color: gray;
    float:right;
    font-size: 1.5em;
}

.header-block{
    margin-bottom:0px;
    height: 0;
    overflow: hidden;
    width: 0;
}
.navs {
    position: fixed;
    z-index: 999;
    display:none;
    background-color:rgb(0,0,0);
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.navs > li:hover{
    background-color:rgb(35,35,35);

}

.expand > .navs {
    display: block;

}

.navs a {
    display: block;
    line-height: 20px;
    color: #fff;
    padding: 10px 35px;
    border-top: 5px solid;
    border-color:rgb(0,29,89);
    text-decoration: none;
    -webkit-transition: all 1s ease; /* Firefox */
    -moz-transition: all 1s ease; /* WebKit */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease; /* Standard */
}

.navs > .active{
    background-color:#039;
    color: #333;
}
.navs > .active:hover{
    background-color:#039;
}
.navs > .active > a {
    cursor: default;

}
/*@media all and (min-width: 600px) {
    .menu {
        width: 100%;
        background: #909090;
    }

    .menu-btn {
        display: inline;

    }

    .navs {
        display: block;
        height: 40px;
    }

    .menu li {
        float: left;
        padding: 0 30px;
        height: 40px;
        line-height: 40px;
        border: 0;
    }
}*/
    .brand-block{ top:14px; left: 3%;}
.menu-plate{  top:12px; right:3%;}
.navs{        top:55px; right:3%;}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 440px) and (max-width: 780px) {
.brand-block{ top:14px; left: 10%;}
.menu-plate{  top:12px; right:10%;}
.navs{        top:55px; right:10%;}
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 780px) and (max-width: 4200px) {
.brand-block{ top:14px; left: 20%;}
.menu-plate{  top:12px; right:20%;}
.navs{        top:55px; right:20%;}
}

/*******************/
/*     Hero Styles      */
/*******************/


.hero{
    text-align: center;
}
.hero-quote {
    font-family: 'Dynalight', cursive;
    font-size:55px;
    line-height: 120%;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top:50px;
}
.hero-tagline {
    font-family: Amethysta;
    font-size: 25px;
    padding: 0px 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}


.hero-button {
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;

    -moz-border-radius: 60px;
    -moz-box-shadow: #080808 0px 0px 8px;
    -moz-transition: transform 0.6s ease;
    -ms-transition: transform 0.6s ease;
    -o-transition: transform 0.6s ease;
    -webkit-border-radius: 60px;
    -webkit-box-shadow: #6E7849 0 0 10px;
    -webkit-transition: transform 0.6s ease;
    background-color: #00094A;
    background-image: -moz-linear-gradient(180deg, #0776ed, #00094A);
    background-image: -ms-linear-gradient(180deg, #0776ed, #00094A);
    background-image: -o-linear-gradient(180deg, #0776ed, #00094A);
    background-image: -webkit-linear-gradient(180deg, #0776ed, #00094A);
    background-image: linear-gradient(180deg, #0776ed, #00094A);
    border-radius: 60px;
    border: 2px solid #FFFFFF;
    box-shadow: #080808 0px 0px 8px;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    font-size: 1.3em;
    margin: auto;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    text-decoration: none;
    text-shadow: #000000 5px 5px 15px;
    transition: transform 0.6s ease;
}

.hero-button:hover {
    -moz-transform: scaleX(1.3) scaleY(1.1);
    -ms-transform: scaleX(1.3) scaleY(1.1);
    -o-transform: scaleX(1.3) scaleY(1.1);
    -webkit-transform: scaleX(1.3) scaleY(1.1);
    transform: scaleX(1.3) scaleY(1.1);
    text-decoration: none;
    color: #ffffff;


}







































/* misc imports */

/*


a {
    color: #428bca;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
img {
    max-width: 100% !important;
    vertical-align: middle;
}
.img-thumbnail {
    display: inline-block;
    width: 100% \9;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-circle {
    border-radius: 50%;
}
.cheats {

    text-align: left;
    text-align: right;
    text-align: center;
    color: #777;
    color: #428bca;
    color: #3071a9;
    color: #3c763d;
    color: #2b542c;
    color: #31708f;
    color: #245269;
    color: #8a6d3b;
    color: #66512c;
    color: #a94442;
    color: #843534;
    color: #fff;
    background-color: #428bca;
    background-color: #3071a9;

}*/
